SECRET_KEY=sua-secret-aqui
DEBUG=False
ALLOWED_HOSTS=.herokuapp.com,.localhost,127.0.0.1
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_USE_TLS=false
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=